.father {
    display: grid;
    grid-template-columns: repeat(4,200px);
    grid-template-rows: repeat(4,200px);
    grid-gap: 10px;
}
.items {
    background-color: cornflowerblue;
}
.item1 {
    grid-column: span 2;
    grid-row: span 2;
    background-color: blue;
}
.item4 {
    grid-column: span 2;
    background-color: forestgreen;
}
.item9 {
    grid-column: 3/5 ;
    grid-row:3/5 ;
    
    background-color: blue;
}